<div class= "jumbotron text-center">
 <a href = "/icecream" class = "btn btn-primary"> View all icecreams</a>
 <a href = "/icecreams/jawbreakers" class = "btn btn-primary"> View flavor icecreams</a>


</div>